<!-- New Transaction Form -->
<header> 
  <%= erb :'transactions/new' %>
</header>

<div class="body-content">
  <h2>Transactions</h2>

  <!-- Filter form -->
  <div class="filter-wrapper">
  
  <!-- Filter by Category --> 
    <div class="category-filter">
      <form action="/transactions" method="get">
        <select name="category_id">
          <% @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.label %></option>
          <% end %>
        </select>
    </div>

    <!-- Filter by Business -->
    <div class="business-filter">
        <select name="business_id">
          <% @businesses.each do |business| %>
            <option value="<%= business.id %>"><%= business.name %></option>
          <% end %>
        </select>

    <!-- Filter Button -->
        <input type="submit" value="Filter">
      </form>
    </div>

    <div class="all-trans">&larr;<a href="/transactions">All Transactions</a></div>
  </div>


  <!-- Display transactions -->
  <!--   Headings -->
    <div class="container-header">
      <div class="item">Date</div>
      <div class="item">Business</div>
      <div class="item">Supplier</div>
      <div class="item">Category</div>
      <div class="item-small">Price</div>
      <div class="item-small"> </div>
    </div> 
  
  <!-- Content -->
    <% @transactions.each do |transaction| %>
      <div class="container">
        <div class="item"><%= transaction.day %></div>
        <div class="item"><%= transaction.business['name'] %></div>
        <div class="item"><%= transaction.supplier %></div>
        <div class="item"><%= transaction.category['label'] %></div>
        <div class="item-small">£<%= transaction.price; %></div>
        <div class="item-small"><form action='/transactions/<%= transaction.id %>/delete' method='post'>
          <input type="submit" value="Delete" style="float: right;">
        </form></div>
      </div> 
    <% end %>

  <!-- Total Transactions -->
    <p class="total">Total £<%= @analysis.total_transactions(@transactions) %></p>
    <div class=bottom-buttons>
      <div class="button-1">
        <form action= "/transactions/download" method="get">
          <input type="submit" value="Download CSV">
        </form>
      </div>

    <!-- Total Transactions -->
      <div class="button-2">
        <form action= "/transactions/graph" method="get">
          <input type="submit" value="Display Graph">
        </form>
      </div>

    </div>
</div

