<!-- Business New Form -->
<form action="/businesses" method="post">
  <input type="text" name="name">
  <input type="submit" value="Add Business">
</form>

<!-- Transaction New Form -->
<form action="/transactions" method="post">
  <input type="date" name="day" value="Date">
  <select name="business_id">
    <% @businesses.each do |business| %>
      <option value="<%= business.id %>"><%= business.name %></option>
    <% end %>
  </select>
  <select name="category_id">
    <% @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.label %></option>
    <% end %>
  </select>
  <input type="text" name="supplier" value="Supplier">
  <input type="text" name="amount" value="£">
  <input type="submit" value="Add">
</form>

<h2>Transactions</h2>

<!-- Filter by Category -->
<form action="/transactions" method="get">
  <select name="category_id">
    <% @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.label %></option>
    <% end %>
    
  <input type="submit" value="Filter">
</form>

<!-- Filter by Business -->
<!-- Not working -->

  <% @transactions.each do |transaction| %>
    <div class="container">
      <div class="item"><%= transaction.day %></div>
      <div class="item"><%= transaction.business['name'] %></div>
      <div class="item"><%= transaction.supplier %></div>
      <div class="item"><%= transaction.category['label'] %></div>
      <div class="item">£<%= transaction.price; %></div>
      <div class="item"><form action='/transactions/<%= transaction.id %>/delete' method='post'>
        <input type="submit" value="Delete">
      </form></div>
    </div> 
  <% end %>


  <p>Total £<%= @analysis.total_transactions %></p>


