<!-- Transaction New Form -->
  <form action="/transactions" method="post">
    <div class="container-form">
      <div class="item">
        <input type="date" name="day" value="Date">
      </div>
      <div class="item-form">
        <select name="business_id">
          <% @businesses.each do |business| %>
            <option value="<%= business.id %>"><%= business.name %></option>
          <% end %>
        </select>
        <p class="add-link"><a href="/businesses">Add New Business</a>  &rarr;</p>
      </div>
      <div class="item-form">
        <select name="category_id">
          <% @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.label %></option>
          <% end %>
        </select>
      </div>
      <div class="item-form">
        <input type="text" name="supplier" value="Supplier">
      </div>
      <div class="item">
        £<input type="text" name="amount">
      </div>
      <div class="item-small">
        <input type="submit" value="Add">
      </div>
  </div>
</form>


<h2>Transactions</h2>

<div class="filter-wrapper">
  <div class="category-filter">
  <!-- Filter by Category -->
    <form action="/transactions" method="get">
      <select name="category_id">
        <% @categories.each do |category| %>
          <option value="<%= category.id %>"><%= category.label %></option>
        <% end %>
        
      <input type="submit" value="Filter">
    </form>
  </div>

  <!-- Filter by Business -->
  <div class="business-filter">
    <form action="/transactions" method="get">
      <select name="business_id">
        <% @businesses.each do |business| %>
          <option value="<%= business.id %>"><%= business.name %></option>
        <% end %>

      <input type="submit" value="Filter">
    </form>
  </div>

  <div class="all-trans">&larr;<a href="/transactions">All Transactions</a></div>
</div>

  <div class="container-header">
    <div class="item">Date</div>
    <div class="item">Business</div>
    <div class="item">Supplier</div>
    <div class="item">Category</div>
    <div class="item-small">Price</div>
    <div class="item-small"> </div>
  </div> 
<!-- Display transactions -->
  <% @transactions.each do |transaction| %>
    <div class="container">
      <div class="item"><%= transaction.day %></div>
      <div class="item"><%= transaction.business['name'] %></div>
      <div class="item"><%= transaction.supplier %></div>
      <div class="item"><%= transaction.category['label'] %></div>
      <div class="item-small">£<%= transaction.price; %></div>
      <div class="item-small"><form action='/transactions/<%= transaction.id %>/delete' method='post'>
        <input type="submit" value="Delete" style="float: right;">
      </form></div>
    </div> 
  <% end %>




  <p class="total">Total £<%= @analysis.total_transactions(@transactions) %></p>


